<div class="container post-list">
    <div class="row">
        <div class="centered gap fade-down section-heading">
            <h2 class="main-title">文 章</h2>
            <hr>
            <p>一些作品</p>
        </div>
            {% for article in articles %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 post fade-up">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    <a href="{{ article.get_absolute_url }}" class="post-title">{{ article.title }}</a>
                                </h3>
                            </div>
                        </div>
                        <div class="row post-content">
                            {% comment %} <div class="col-md-3">
                                <div class="item-inner">
                                    <img src="assets/img/demo/1.jpg" alt="" class="img-responsive">
                                    <div class="overlay">
                                        <a class="preview btn btn-outlined btn-primary" href="single-post.html"><i
                                                class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            <div class="col-md-12">
                                <p>
                                    {{ article.body|slice:':200'|striptags }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
    <div class="gap"></div>
</div>