    <!-- MAIN FOOTER -->
		<div id="footerwrap" >
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<h4 class="widget-title">标签</h4>
						<ul class="tag-widget">
                            {% for tag in tags %}
							<li><a class="btn btn-primary btn-outlined btn-color" href="{% url 'blog:tag' tag.slug %}">{{ tag.name }}</a></li>
                            {% endfor %}
						</ul>
					</div>
					<!--col-lg-4-->
					<div class="col-lg-4">
						<h4 class="widget-title">友情链接</h4>
						{% for link in links %}
							<p>
								<a href="{{ link.link }}">{{ link.name }}</a>
							</p>
						{% endfor %}
					</div>
					<!--col-lg-4-->
					<div class="col-lg-4">
						<h4 class="widget-title">联系方式</h4>
						<p>Email: <a href="mailto:#">dreamskyll@foxmail.com</a></p>
						<p>QQ:<a href="http://wpa.qq.com/msgrd?v=3&uin=1254485118&site=qq&menu=yes">1254485118</a></p>
					</div>
					<!--col-lg-4-->
				</div><!-- row -->
			</div><!-- container -->
			<div class="footer-copyright">
				<div class="container">
					From <a href="#"  target="_blank">iDreamSky</a>
				</div>
			</div>
		</div>
    <!-- END MAIN FOOTER -->