    <section id="about" class="section-wrapper">
        <div class="container">
            <div class="centered fade-down section-heading">
                <h2 class="main-title">日 志</h2>
                <hr>
                <p>记录了一些日常</p>
            </div>

            <div class="row gap">
                <div class="col-md-8 col-md-offset-2">
                    <!--这里可以放一张图片-->
                    <!--<img src="" class="fade-up img-responsive" alt="这里本应该是张图片" />-->
                </div>
            </div>

            <div class="row gap">
                <div class="col-md-offset-1 col-md-6 fade-up">
                    <p>{{ latest.body }}</p>
                </div>
                <div class="col-md-4">
                    <div class="qa-message-list" id="wallmessages">

                               

                        {% for log in logs %}
                        <div class="message-item fade-up">
                            <div class="message-inner">
                                <div class="message-head clearfix">
                                    <div class="user-detail">
                                        <h5 class="handle">{{ log.pub_time|date:'Y/m/d' }}</h5>

                                    </div>
                                </div>
                                <div class="qa-message-content">
                                    {{ log.body }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </section>