    <div class="container">
        <div class="row mt">
            <div class="centered gap fade-down section-heading">
                <h2 class="main-title">留 言</h2>
                <hr>
                <p>我将会很乐意</p>
            </div>
        </div><!-- row -->
    </div><!-- container -->
    <div class="container" id="contact-us">
        <div class="row gap">
            <div class="fade-up col-md-6 fade-up">
                <p>暂时是空的</p>
            </div>
            <div class="fade-up col-md-6 fade-up">
                <div id="message"></div>
                <form method="post" action="." id="contactform">
                    <p><input type="text" class="form-control" name="name" id="name" placeholder="尊姓大名" /></p>
                    <p><input type="text" class="form-control" name="email" id="email" placeholder="邮箱地址" /></p>
                    <p><input type="text" class="form-control" name="website" id="website" placeholder="网站地址" /></p>
                    <p><textarea name="comments" class="form-control" id="comments" placeholder="您想说……"></textarea></p>
                    <input class="btn btn-outlined btn-primary" type="submit" name="submit" value="送出" />
                </form>
            </div>
        </div><!-- row -->
    </div>